body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* Navigation Bar */

.navbar {
  padding: 1rem 2rem 1rem;
}

.bg-dark {
  background-color: #141416 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
}

ul.navbar-nav button:hover,
ul.navbar-nav button:focus,
ul.navbar-nav button:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
  box-shadow: none;
}

#active {
  color: #fd6262;
}

/* Login */

#login-form {
  text-align: left;
}

#submit {
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
}

#submit:hover,
#submit:focus,
#submit:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
  box-shadow: none;
  background-color: white;
}

#login-form > p {
  color: grey;
  text-align: right;
  margin-top: 1rem;
}

#login-form > p > a {
  color: #fd6262;
}

#login-form > p > a:hover {
  color: firebrick;
}

/* Corpi celesti */

.transparent-card {
  margin: 0 3rem 1rem !important;
  padding: 1rem 0rem 0rem 3rem;
  background: linear-gradient(
    to right,
    #222327 30%,
    rgba(255, 255, 255, 0) 100%
  );
  text-align: justify;
}

img {
  width: 82%;
}

.scopri {
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
}

.scopri:hover {
  background-color: #141416 !important;
  border-color: #fd6262 !important;
  color: #fd6262 !important;
}

/* Pianeti */
.category-description {
  margin: 8rem 3rem 0rem 3rem;
  color: #ffffff;
  text-align: justify;
}

.title {
  font-size: 4rem;
  color: #fd6262;
}

.title hr {
  border: 1px solid #fd6262;
}

.undercategory-description {
  margin: 4rem 8rem 4rem 3rem;
  color: white;
  text-align: justify;
}

.undercategory-title {
  color: #889ce7;
  font-size: 3rem;
}

.undercategory-title hr {
  border: 1px solid #889ce7;
}

/* Pubblicazioni */

.card-deck{
  margin: 1rem 2rem 4rem;
}

.card-deck .card {
    background-color: #3F4349;
}

.card-deck .card:hover{
  background-color:  #303438;
}

.card-deck .card-title{
    color: #fd6262;
    vertical-align: center;
}

.card-deck .card-text{
    color: #889CE7;
}

.card-deck .card-header{
    color: #889CE7;
}

/* Footer */

.footer {
  background-color: #141416;
  margin-top: 5rem;
  color: white;
}

.inner-footer {
  padding: 5rem 0;
}
