body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* Navigation Bar */

.navbar {
  padding: 1rem 2rem 1rem;
}

.bg-dark {
  background-color: #141416 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
}

ul.navbar-nav button:hover,
ul.navbar-nav button:focus,
ul.navbar-nav button:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
  box-shadow: none;
}

#active {
  color: #fd6262;
}

/* Login */

#login-form {
  text-align: left;
}

#submit {
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
}

#submit:hover,
#submit:focus,
#submit:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
  box-shadow: none;
  background-color: white;
}

#login-form > p {
  color: grey;
  text-align: right;
  margin-top: 1rem;
}

#login-form > p > a {
  color: #fd6262;
}

#login-form > p > a:hover {
  color: firebrick;
}

/* Footer */

.footer {
  background-color: #141416;
  margin-top: 5rem;
  color: white;
}

.inner-footer {
  padding: 5rem 0;
}
