body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url("../img/background.jpg");
}

/* Navigation Bar */

.navbar {
  padding: 1rem 2rem 1rem;
}

.bg-dark {
  background-color: #141416 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
}

ul.navbar-nav a:hover,
ul.navbar-nav a:focus,
ul.navbar-nav a:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
}

#esplora-active {
  color: #fd6262;
}

/* Video */

video {
  width: 100%;
  height: auto;
}

/* Esplora */

.categorie {
  text-align: left;
}

h4 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #889ce7;
}

.card-pubblicazioni {
  margin: 0 2rem 4rem !important;
  padding: 1rem 0rem 0rem 3rem;
  background: linear-gradient(
    to right,
    rgba(28, 28, 30, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

.sole img {
  max-width: 100%;
  max-height: 100%;
}

.pianeti img {
  max-width: 100%;
  max-height: 100%;
}

.plutone img {
  max-width: 100%;
  max-height: 100%;
}

.luna img {
  max-width: 100%;
  max-height: 100%;
}

.asteroide img {
  max-width: 100%;
  max-height: 100%;
}

.cometa img {
  max-width: 100%;
  max-height: 100%;
}

p {
  text-align: justify;
  margin: 3rem 2rem 1rem 0rem;
}

.scopri {
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
}

.scopri:hover {
  background-color: #141416 !important;
  border-color: #fd6262 !important;
  color: #fd6262 !important;
}
