body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url("../img/background.jpg");
}

/* Navigation Bar */

.navbar {
  padding: 1rem 2rem 1rem;
}

.bg-dark {
  background-color: #141416 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
}

ul.navbar-nav a:hover,
ul.navbar-nav a:focus,
ul.navbar-nav a:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
}

#esplora-active {
  color: #fd6262;
}

/* Esplora */

.categorie {
  margin-top: 10rem;
  text-align: left;
}

h4 {
  font-size: 4rem;
  margin: 3rem 0 3rem 3rem;
}

.card-pubblicazioni {
  margin: 0 2rem 4rem !important;
  background-color: #141416;
}

.sole {
  background-image: url("../img/sol.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pianeti {
  background-image: url("../img/terra.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.plutone {
  background-image: url("../img/plutone.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.luna {
  background-image: url("../img/luna.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.asteroide {
  background-image: url("../img/asteroid.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cometa {
  background-image: url("../img/cometa.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  margin: 8rem 0 3rem 3rem;
}

.scopri {
  margin-left: 3rem;
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
}

.scopri:hover {
  background-color: #141416 !important;
  border-color: #fd6262 !important;
  color: #fd6262 !important;
}