body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
}

/* Introduzione */

.container-introduzione {
  text-align: left;
  margin: 9rem 2rem 3rem;
}

.form-inline button {
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
  width: 7rem;
  height: 2.5rem;
  font-size: 1rem;
}

.form-inline button:hover {
  background-color: #141416 !important;
  border-color: #fd6262 !important;
  color: #fd6262 !important;
}

.title {
  font-size: 3.5rem;
  color: white !important;
}

.dropdown-toggle {
  width: 100%;
}

.form-inline {
  margin-left: 2rem;
}

/* Pubblicazioni */

.card-deck {
  margin: 2rem 1rem;
}

.card {
  background-color: #3f4349;
}

.card-title {
  color: #fd6262;
  vertical-align: center;
}

.card-text {
  text-align: justify;
  color: #889ce7;
}
