body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* Navigation Bar */

.navbar {
  padding: 1rem 2rem 1rem;
}

.bg-dark {
  background-color: #141416 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
}

ul.navbar-nav a:hover,
ul.navbar-nav a:focus,
ul.navbar-nav a:active {
  color: #fd6262 !important;
  transition-duration: 0.5s;
}

#pub-active {
  color: #fd6262;
}

/* Introduzione */

.btn-primary {
  background-color: #fd6262;
  border-color: #fd6262;
  color: #141416;
  width: 7rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.container-introduzione {
  text-align: left;
  margin: 9rem 2rem 3rem;
  font-family: "Poppins", sans-serif;
}

div.container-introduzione button:hover {
  background-color: #141416 !important;
  border-color: #141416 !important;
  color: #fd6262 !important;
}

.title {
  font-size: 3.5rem;
}

.dropdown-toggle{
    width: 100%;
}

.form-inline{
    margin-left: 2rem;
}
/* Pubblicazioni */

.card-p {
    margin: 1rem 1rem;
    background-color: #3F4349;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
    color: #fd6262;
    vertical-align: center;
}

.card-text{
    color: #889CE7;
}

.card-header{
    color: #889CE7;
}
